@media screen and (min-width: 1001px) {
  /* HIDDEN */
  #mobile-woman {
    display: none;
  }

  #top-part {
    display: none;
  }

  #main-mobile {
    display: none;
  }

  /* HIDDEN */

  #category-page {
    padding-left: 10rem;
    padding-right: 8.5rem;
    display: flex;
  }

  #woman-shopping {
    min-width: 100%;
    height: 12vw;
    object-fit: cover;
    margin-top: 3.125rem;
  }

  .grid-category {
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-gap: 1.063rem;
    padding-top: 3.125rem;
    padding-right: 6.75rem;
    width: auto;
    height: fit-content;
  }

  .clothes-category,
  .big-category {
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .clothes-category {
    margin-bottom: -10px;
  }

  .big-category {
    margin-top: -10px;
    color: #a8a39d;
  }

  .clothes-category {
    color: black;
  }

  .single-category {
    color: #a8a39d;
    height: fit-content;
  }

  .single-category:nth-last-child(-n + 17):hover {
    color: #000;
  }

  .big-category:hover {
    color: #000;
  }

  #products-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
  }

  .item-pic {
    max-width: 100%;
    max-height: 100%;
  }

  .product-caption {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 0.75rem;
    padding-bottom: 0.125rem;
    width: 12.875rem;
  }

  .product-price-2line {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
  }

  .product-price {
    color: #000;
    padding-top: 1.25rem;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
  }

  .shopping-item-pic {
    position: relative;
    height: 45vh;
    width: auto;
    background-size: cover;
  }

 
  

  /* Style the list */
  ul.breadcrumb {
    padding-bottom: 0.875rem;
    padding-top: 3.75rem;
    list-style: none;
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  /* Style for the links */
  ul.breadcrumb li a {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  /* Style for the arrows before and after */
  i {
    padding: 8px;
    color: #a8a39d;
  }

  #viewing {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    display: flex;
    justify-content: center;
    padding-top: 4.25rem;
  }

  #text-show {
    color: #fff;
    background-color: #000;
    padding: 1.118rem 7.688rem 1.118rem 7.688rem;
    color: #fff;
    font-family: Nexa;
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    width: fit-content;
  }

  #show-more {
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
  }
}

@media screen and (min-width: 451px) and (max-width: 1000px) {
  /* HIDDEN */
  #category-page {
    display: none;
  }

  #viewing {
    display: none;
  }

  #show-more {
    display: none;
  }
}

/* MOBILE DEVICES */
@media screen and (max-width: 450px) {
  /* HIDDEN */
  #category-page {
    display: none;
  }

  #viewing {
    display: none;
  }

  #show-more {
    display: none;
  }

  /*END HIDDEN*/

  #mobile-woman {
    width: 100%;
    height: 75vw;
    object-fit: contain;
  }

  #back {
    padding-left: 4%;
  }

  #clothes-mobile {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  #top-part {
    display: flex;
    gap: 33%;
  }

  section {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent content from wrapping to the next line */
    margin: 4%;
  }

  .scroll-container {
    width: 100%; /* Set the width of the container */
    white-space: nowrap; /* Prevent content from wrapping to the next line */
  }

  .scroll-item {
    display: inline-block;
    margin-right: 0.75rem;
    color: #a8a39d;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .shopping-item-mobile {
    width: fit-content;
    gap: 1rem;
  }

  #products-container-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 10%;
    width: 100vw;
  }

  .item-pic-mobile {
    width: 50vw;
    height: auto;
  }

  .product-caption-mobile {
    color: #000;
    font-family: Nexa;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;

    line-height: 20px;
  }

  .product-price-mobile {
    color: #000;
    font-family: Nexa;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    padding-top: 0.75rem;
  }

  .product-price-2line-mobile {
    color: #000;
    padding-top: 0.2rem;
    font-family: Nexa;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    height: 20px;
  }
}
