/* WEB LAYOUT */

@media screen and (min-width: 1001px) {
  /*HIDDEN*/

  .payment-container-mob {
    display: none;
  }

  .payment-container-tab{
    display: none;
  }

  /*HIDDEN*/

  .payment-container-web {
    margin-left: 8.44rem;
    margin-right: 8.44rem;
    gap: 1.87rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #main-heading-web {
    color: #000;
    font-family: Nexa;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3.438rem;
  }

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .payment-container-web h1 {
    margin-top: 2.625rem;
  }

  .payment-fields-web {
    margin-top: 1.44rem;
  }

  .payment-fields-web p {
    font-size: 1.25rem;
  }

  #payment-info-web {
    height: 2.625rem;
    width: 100%;
    border: 1px solid #d9d9d9;
    font-size: 1rem;
    padding-left: 10px;
  }

  .go-back-pay-web {
    height: 3.5rem;
    display: flex;
    gap: 10%;
    margin-top: 2rem;
    cursor: pointer;
  }

  .go-back-web {
    width: 25%;
    height: 3.5rem;
  }

  .go-back-web h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 100%;
  }

  .pay-web {
    background-color: black;
    color: white;
    width: 65%;
    height: 3.5rem;
    float: right;
  }

  .go-back-web a {
    color: black;
  }

  .pay-web, a {
    color: white;
  }

  .pay-web h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 100%;
  }

  .picture-web {
    width: 50%;
    margin-top: 1.44rem;
    margin-right: 20px;
  }

  .order-information-web {
    display: flex;
    flex-direction: column;
    margin-top: 5.5rem;
  }

  .content-web {
    display: flex;
  }

  .img-product-payment-web {
    max-width: 100%;
    height: 100%;
  }

  .info-web {
    display: flex;
    flex-direction: column;
    margin-top: 1.44rem;
  }

  .info-web h2 {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.4375rem;
    margin-bottom: 5px;
  }

  .info-web p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
  }

  .colour-and-bin-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #bin-icon-web {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
  }

  #product-price-web {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
  }

  #button-and-price-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Push the button container to the bottom */
  }

  #button-container {
    background-color: #f8f1e9;
    width: 6.938rem;
    height: 2.75rem;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Equal gap between buttons */
    align-items: center;
    text-align: center;
  }

  #button-minus,
  #button-plus {
    background-color: #f8f1e9;
    border: none;
    padding: 0 1rem; /* Equal padding on left and right */
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  #quantity {
    color: #000;
    font-family: Nexa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    margin: 0; /* Remove margin to center the text vertically */
  }

  .cost-container-web {
    margin-top: 3rem;
    background-color: #f8f1e9;
    height: 8%;
    width: 89%;
    display: flex;
    flex-direction: column;
    padding-top: 1.625rem;
    padding-left: 1.938rem;
    padding-right: 1.938rem;
    padding-bottom: 1.625rem;
  }

  .first-line-cart-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .second-line-cart-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.75rem;
  }

  .third-line-cart-web {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
  }

  #cost-text-web {
    color: #000;
    font-family: Nexa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  #total-text-web {
    color: #000;
    font-family: Nexa;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  #deliveryCost {
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  #subTotal {
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  #totalAmount {
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  #first-text {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
  }

  #big-text {
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
  }

  .price {
    float: right;
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
  }

  #total-price {
    float: right;
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
  }

  .cards-container-web {
    padding-top: 1.625rem;
  }

  .cards-web {
    display: flex;
    width: 570px;
    height: 42px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    position: relative;
  }

  #visa-pic-web,
  #maestro-pic-web {
    width: 9%;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #master-pic-web {
    width: 11%;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #cash-pic-web {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #cash-pay-web {
    display: flex;
    width: 570px;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
    position: relative;
  }

  .visa-text-web {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 67.5%;
    margin-top: 0.5%;
  }

  .master-text-web {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 57%;
    margin-top: 0.5%;
  }

  .maestro-text-web {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 55%;
    margin-top: 0.5%;
  }

  .cash-text-web {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 51.5%;
    margin-top: 0.5%;
  }
}

/* MOBILE LAYOUT */

@media screen and (max-width: 450px) {
  /*HIDDEN*/
  .payment-container-web {
    display: none;
  }

  .payment-container-tab{
    display: none;
  }
  /*HIDDEN*/

  .payment-container-mob {
    padding-top: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .arrow-heading-mob {
    display: flex;
    gap: 10px;
  }

  #payment-heading-mob {
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #headings-mob {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    margin-top: 1.063rem;
  }

  .payment-fields-mob {
    margin-top: 1.44rem;
  }

  .payment-fields-mob p {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  #payment-info-mob {
    height: 2rem;
    width: 100%;
    border: 1px solid #d9d9d9;
  }

  .cards-container-mob {
    padding-top: 0.875rem;
  }

  .cards-mob {
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    position: relative;
  }

  #visa-pic-mob,
  #maestro-pic-mob {
    width: 9%;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #master-pic-mob {
    width: 10%;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #cash-pic-mob {
    width: 9%;
    flex-shrink: 0;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #cash-pay-mob {
    display: flex;
    width: 100%;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
    position: relative;
  }

  .visa-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 60%;
    margin-top: 0.5%;
  }

  .master-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 48%;
    margin-top: 0.5%;
  }

  .maestro-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 46%;
    margin-top: 0.5%;
  }

  .cash-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 41%;
    margin-top: 0.5%;
  }

  .go-back-pay-mob {
    height: 3.5rem;
    display: flex;
    margin-top: 2rem;
    cursor: pointer;
  }

  .go-back-mob {
    width: 50%;
    height: 3rem;
  }

  .go-back-mob h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    color: black;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }

  .pay-mob {
    background-color: black;
    color: white;
    width: 50%;
    height: 3rem;
    float: right;
  }

  .pay-mob h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    color: white;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }

  .picture-mob {
    width: 50%;
    margin-top: 1.44rem;
    margin-right: 20px;
  }

  .order-information-mob {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .content-mob {
    display: flex;
  }

  .img-product-payment-mob {
    max-width: 100%;
    height: 100%;
  }

  .info-mob {
    display: flex;
    flex-direction: column;
    margin-top: 1.44rem;
  }

  .info-mob h2 {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    margin-bottom: 0.625rem;
  }

  .info-mob p {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
  }

  .colour-and-bin-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #bin-icon-mob {
    font-size: 18px;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
  }

  #product-price-mob {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
  }

  #button-and-price-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Push the button container to the bottom */
  }

  #button-container {
    background-color: #f8f1e9;
    width: 6.938rem;
    height: 2.75rem;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Equal gap between buttons */
    align-items: center;
    text-align: center;
  }

  #button-minus,
  #button-plus {
    background-color: #f8f1e9;
    border: none;
    padding: 0 1rem; /* Equal padding on left and right */
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  #quantity {
    color: #000;
    font-family: Nexa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    margin: 0; /* Remove margin to center the text vertically */
  }

  .cost-container-mob {
    margin-top: 2rem;
    background-color: #f8f1e9;
    display: flex;
    flex-direction: column;
    padding-top: 1.125rem;
    padding-left: 1.438rem;
    padding-right: 1.438rem;
    padding-bottom: 1.125rem;
  }

  .first-line-cart-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .second-line-cart-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.625rem;
  }

  .third-line-cart-mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem;
  }

  #cost-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #total-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
  }

  #deliveryCost {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #subTotal {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #totalAmount {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }
}

/* TABLET LAYOUT */

@media screen and (min-width: 451px) and (max-width: 1000px) {
  /*HIDDEN*/
  .payment-container-web {
    display: none;
  }

  .payment-container-mob {
    display: none;
  }
  /*HIDDEN*/

  .payment-container-tab {
    padding-top: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .arrow-heading-tab {
    display: flex;
    gap: 10px;
  }

  #payment-heading-tab {
    color: #000;
    font-family: Nexa;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #headings-tab {
    color: #000;
    font-family: Nexa;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    margin-top: 1.063rem;
  }

  .payment-fields-tab {
    margin-top: 1.44rem;
  }

  .payment-fields-tab p {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  #payment-info-tab {
    height: 2rem;
    width: 70%;
    border: 1px solid #d9d9d9;
  }

  .cards-container-tab {
    padding-top: 1rem;
  }

  .cards-tab {
    display: flex;
    width: 70%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    position: relative;
  }

  #visa-pic-tab,
  #maestro-pic-tab {
    width: 7%;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #master-pic-tab {
    width: 9%;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #cash-pic-tab {
    width: 7%;
    flex-shrink: 0;
    position: absolute;
    margin-right: 85%;
    padding-right: 12px;
  }

  #cash-pay-tab {
    display: flex;
    width: 70%;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
    position: relative;
  }

  .visa-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 65%;
    margin-top: 0.5%;
  }

  .master-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 57%;
    margin-top: 0.5%;
  }

  .maestro-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 56%;
    margin-top: 0.5%;
  }

  .cash-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-right: 54%;
    margin-top: 0.5%;
  }

  .go-back-pay-tab {
    height: 3.5rem;
    display: flex;
    margin-top: 2rem;
    cursor: pointer;
  }

  .go-back-tab {
    width: 50%;
    height: 3rem;
  }

  .go-back-tab h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    color: black;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }

  .pay-tab {
    background-color: black;
    color: white;
    width: 50%;
    height: 3rem;
    float: right;
  }

  .pay-tab h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    color: white;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }

  .picture-tab {
    width: 50%;
    margin-top: 1.44rem;
    margin-right: 20px;
  }

  .order-information-tab {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .content-tab {
    display: flex;
  }

  .img-product-payment-tab {
    max-width: 100%;
    height: 100%;
  }

  .info-tab {
    display: flex;
    flex-direction: column;
    margin-top: 1.44rem;
  }

  .info-tab h2 {
    color: #000;
    font-family: Nexa;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 0.625rem;
  }

  .info-tab p {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
  }

  .colour-and-bin-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #bin-icon-tab {
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 0;
  }

  #product-price-tab {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
  }

  #button-and-price-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Push the button container to the bottom */
  }

  #button-container {
    background-color: #f8f1e9;
    width: 6.938rem;
    height: 2.75rem;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Equal gap between buttons */
    align-items: center;
    text-align: center;
  }

  #button-minus,
  #button-plus {
    background-color: #f8f1e9;
    border: none;
    padding: 0 1rem; /* Equal padding on left and right */
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }

  #quantity-tab {
    color: #000;
    font-family: Nexa;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    margin: 0; /* Remove margin to center the text vertically */
  }

  .cost-container-tab {
    margin-top: 2rem;
    background-color: #f8f1e9;
    display: flex;
    flex-direction: column;
    padding-top: 1.125rem;
    padding-left: 1.438rem;
    padding-right: 1.438rem;
    padding-bottom: 1.125rem;
  }

  .first-line-cart-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .second-line-cart-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.625rem;
  }

  .third-line-cart-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.25rem;
  }

  #cost-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #total-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
  }

  #deliverCostTab {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #subTotalTab {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #totalAmountTab {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }

}