/* WEB LAYOUT */

@media screen and (min-width: 1001px) {
  /*HIDDEN*/
  #mobile-first-main {
    display: none;
  }

  .pics-container-mobile {
    display: none;
  }

  .info-container-mobile {
    display: none;
  }

  #tablet-first-main {
    display: none;
  }

  /*HIDDEN*/

  /*Pictures + Product Information*/
  .big-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 8.438rem;
    padding-right: 8.438rem;
    padding-top: 3.125rem;
  }

  .info-container {
    padding-left: 1.875rem;
  }

  /*First Two Pictures*/
  .first-row-pics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /*Second Three Pictures*/
  .second-row-pics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
  }

  /* Style the list */
  ul.breadcrumb-cart {
    list-style: none;
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  /* Display list items side by side */
  ul.breadcrumb-cart li {
    display: inline;
    font-size: 18px;
  }

  /* Style for the links */
  ul.breadcrumb-cart li a {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  /* Style for the arrows before and after */
  ul.breadcrumb i {
    padding: 8px;
    color: #a8a39d;
  }

  #info-heading {
    padding-top: 15px;
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
  }

  #price {
    padding-top: 40px;
    color: #000;
    font-family: Nexa;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
  }

  #colour {
    padding-top: 40px;
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  #choose-colour {
    width: 10%;
    margin-top: 20px;
    border: 1px solid white;
    transition: border-color 0.3s ease;
  }

  #choose-colour:hover {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  #choose-colour.clicked {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  .sizing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    padding-top: 40px;
  }

  .size-second-line {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  #size {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  #size-info {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #size-link {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
  }

  .sizes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 470px;
    padding-top: 15px;
    gap: 15px;
  }

  #size-rectangle {
    color: #000;
    background-color: white;
    font-family: Nexa;
    font-size: 18px;
    font-weight: 700;
    width: 82px;
    height: 46px;
    border: 1px solid #a8a39d;
    transition: border-color 0.3s ease;
  }

  #size-rectangle.active {
    background-color: black;
    color: white;
    transition: border-color 0.3s ease;
  }

  #size-rectangle:hover {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  .ordering-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 20px;
  }

  #basket-button {
    width: 370px;
    height: 54px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
  }

  #favourites-button {
    width: 82px;
    height: 54px;
    border: 1px solid #a8a39d;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  #favourites-button.active {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  #favourites-button:hover {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }



.heart-icon {
  font-size: 1.5rem;
  color: black;
}

/* Set the color for both "far" and "fas" icons to black */
#heart-web-far,
#heart-web-fas {
  color: #000;
}

#product-heart {
  position: absolute;
  color: #000;
  height: 100%;
  width: 100%;
  max-height: 10%;
  max-width: 20%;
  background-color: #f8f1e9;
  color: black;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  left: 84%;
  bottom: 86%;
  transform: translate(-50%, 0);
  transition: background-color 0.3s;
}

/* Styles for the heart button when hovered over */

/* Hide the "far" icon when the heart button is hovered over */
#product-heart:hover i.far {
  display: none; /* Hide the "far" icon on hover */
}

/* Show the "fas" icon when the heart button is hovered over */
#product-heart:hover i.fas {
  display: inline-block; /* Show the "fas" icon on hover */
}

/* Common styling for both "fas" and "far" icons */
#product-heart i.fas,
#product-heart i.far {
  display: inline-block;
  color: black;
}

/* Styles for the hidden class, used to hide icons */
#product-heart i.hidden {
  display: none;
}


.shopping-item {
  position: relative;
  width: 100%;
}


  .extra-info {
    padding-top: 85px;
  }

  .extra-info i {
    color: black;
    font-size: 15px;
  }

  .extra-text {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .dropdown-info {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #a8a39d;
    width: 460px;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  /*sliders*/

  #Wrapper {
    align-items: center;
    display: flex;
    padding-left: 8.438rem;
    position: relative;
  }

  #Slideshow {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  
  }

  #Slider {
    height: 78vh;
    overflow: hidden;
    width: 100%;
    position: relative;

  }

  #Slider .slide {
    height: 100%;
    width: 100%;
    transition: all 1s;
    display: flex;
    gap: 1%;
  }


  #Arrows {
    display: flex;
    position: absolute;
    right: 17%;
    bottom: 104%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color:  #F8F1E9;;
  }

  #Arrows i {
    color: #1c1d21;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.5s, color 0.5s;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  #Arrows i:first-of-type {
    padding-right: 0.8rem;
  }

  #Arrows i:last-of-type {
    padding-left: 0.8rem;
  }
  
  #get-look {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 8.438rem;
    padding-top: 6.719rem;
    padding-bottom: 0.563rem;
  }

  #recommended {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 8.438rem;
    padding-bottom: 1.063rem;
  }

  /*end of slideshow*/

  /*second slideshow*/

  #Wrapper-2 {
    align-items: center;
    display: flex;
    width: fit-content;
    padding-left: 8.438rem;
    position: relative;
  }

  #Slideshow-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: fit-content;
  }

  #Slider-2 {
    height: 78vh;
    overflow: hidden;
    width: fit-content;
    position: relative;
  }

  #Slider-2 .slide-2 {
    height: 100%;
    width: 100%;
    transition: all 1s;
    display: flex;
    gap: 1%;
  }


  #Arrows-2 {
    display: flex;
    position: absolute;
    right: 17%;
    bottom: 104%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color:  #F8F1E9;;
  }

  #Arrows-2 i {
    color: #1c1d21;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.5s, color 0.5s;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  #Arrows-2 i:first-of-type {
    padding-right: 0.8rem;
  }

  #Arrows-2 i:last-of-type {
    padding-left: 0.8rem;
  }

  #for-you {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 8.438rem;
    padding-top: 6.719rem;
    padding-bottom: 0.563rem;
  }

  #last-viewed {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 8.438rem;
    padding-bottom: 1.063rem;
  }

  /*end of second slideshow*/
}

/* MOBILE LAYOUT */

@media screen and (max-width: 450px) {
  /*HIDDEN*/
  #web-first-main {
    display: none;
  }

  #tablet-first-main {
    display: none;
  }

  .web-products {
    display: none;
  }

  .pics-container-mobile {
    display: none;
  }
  /*HIDDEN*/

  .big-container-mobile {
    padding-top: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .info-container-mobile {
    padding-left: 1.875rem;
  }

  .product-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  #info-heading {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  #product-slideshow-container-mobile {
    margin-top: 15px;
    padding-bottom: 0px;
    position: relative;
    object-fit: contain;
    background-size: cover;
    width: 100%;
    height: 35rem;
  }

  .product-slideshow-mobile {
    width: 100%;
  }

  #wishlist-button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5625rem;
    background-color: #f8f1e9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }

  .product-slideshow-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 2.5rem;
    background-color: #f8f1e9;
    text-align: center;
    position: absolute;
    border: none;
    bottom: 0px;
    right: 0px;
    margin-bottom: 1.2rem;
    margin-right: 1rem;
  }

  #product-prev-button,
  #product-next-button {
    border: none;
    background-color: #f8f1e9;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 0.313rem;
  }

  #price-mobile {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    padding-top: 20px;
  }

  #size-button-mobile {
    width: 11.188rem;
    height: 2.5rem;
    background-color: #000;
    border: #000 solid 1px;
    color: white;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
  }

  .size-advisor-mob {
    float: right;
    padding-top: 10px;
  }

  #size-link-mobile {
    color: #000;
    font-family: Nexa;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }

  .extra-info-mob {
    padding-top: 50px;
  }

  .extra-info-mob i {
    color: black;
    font-size: 15px;
    padding-right: 20px;
  }

  .extra-text-mob {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  .dropdown-info-mob {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #a8a39d;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

/* TABLET LAYOUT */

@media screen and (min-width: 451px) and (max-width: 1000px) {
  /*HIDDEN*/
  #mobile-first-main {
    display: none;
  }

  #web-first-main {
    display: none;
  }

  .web-products {
    display: none;
  }

  .pics-container-mobile {
    display: none;
  }

  .info-container-mobile {
    display: none;
  }

  /*HIDDEN*/

  .big-container-tablet {
    padding-top: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .product-heading-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  #info-heading-tablet {
    color: #000;
    font-family: Nexa;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
  }

  #product-slideshow-container-tablet {
    margin-top: 15px;
    padding-bottom: 0px;
    position: relative;
    object-fit: contain;
    background-size: cover;
    background-position: center; /* Center the background image */
    width: 100%;
    height: 70rem;
  }

  #wishlist-button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5625rem;
    background-color: #f8f1e9;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
  }

  .product-slideshow-tablet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 2.5rem;
    background-color: #f8f1e9;
    text-align: center;
    position: absolute;
    border: none;
    bottom: 0px;
    right: 0px;
    margin-bottom: 1.2rem;
    margin-right: 1rem;
  }

  #product-prev-button,
  #product-next-button {
    border: none;
    background-color: #f8f1e9;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 0.313rem;
  }

  .price-and-button-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #price-tablet {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    padding-top: 20px;
  }

  #size-button-tablet {
    width: 13rem;
    height: 3rem;
    background-color: #000;
    border: #000 solid 1px;
    color: white;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
  }

  .size-advisor-tab {
    float: right;
    padding-top: 10px;
  }

  #size-link-tablet {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }

  .extra-info-tab {
    padding-top: 60px;
  }

  .extra-info-tab i {
    color: black;
    font-size: 18px;
    padding-right: 20px;
  }

  .extra-text-tab {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
  }

  .dropdown-info-tab {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #a8a39d;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
