/* WEB LAYOUT */

@media screen and (min-width: 1001px) {
  /*HIDDEN*/
  #mobile-first-main {
    display: none;
  }
  /*HIDDEN*/

  /*Pictures + Product Information*/
  .big-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 8.438rem;
    padding-right: 8.438rem;
    padding-top: 3.125rem;
  }

  .info-container {
    padding-left: 1.875rem;
  }

  /*First Two Pictures*/
  .first-row-pics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  /*Second Three Pictures*/
  .second-row-pics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
  }

  /* Style the list */
  ul.breadcrumb {
    list-style: none;
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  /* Style for the links */
  ul.breadcrumb li a {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  /* Style for the arrows before and after */
  ul.breadcrumb i {
    padding: 8px;
    color: #a8a39d;
  }

  #info-heading {
    padding-top: 15px;
    color: #000;
    font-family: Nexa;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
  }

  #price {
    padding-top: 40px;
    color: #000;
    font-family: Nexa;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
  }

  #colour {
    padding-top: 40px;
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  #choose-colour {
    width: 10%;
    margin-top: 20px;
    border: 1px solid white;
    transition: border-color 0.3s ease;
  }

  #choose-colour:hover {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  #choose-colour.clicked {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  .sizing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
    padding-top: 40px;
  }

  .size-second-line {
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  #size {
    color: #000;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  #size-info {
    color: #a8a39d;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #size-link {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
  }

  .sizes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 470px;
    padding-top: 15px;
    gap: 15px;
  }

  #size-rectangle {
    color: #000;
    background-color: white;
    font-family: Nexa;
    font-size: 18px;
    font-weight: 700;
    width: 82px;
    height: 46px;
    border: 1px solid #a8a39d;
    transition: border-color 0.3s ease;
  }

  #size-rectangle.active {
    background-color: black;
    color: white;
    transition: border-color 0.3s ease;
  }

  #size-rectangle:hover {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  .ordering-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 20px;
  }

  #basket-button {
    width: 370px;
    height: 54px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: Nexa;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
  }

  #favourites-button {
    width: 82px;
    height: 54px;
    border: 1px solid #a8a39d;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }

  #favourites-button.active {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  #favourites-button:hover {
    border: 1px solid black;
    transition: border-color 0.3s ease;
  }

  #heart {
    color: #000;
    font-size: 20px;
  }

  .extra-info {
    padding-top: 85px;
  }

  .extra-info i {
    color: black;
    font-size: 15px;
  }

  .extra-text {
    color: #000;
    font-family: Nexa;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .dropdown-info {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #a8a39d;
    width: 460px;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

/* MOBILE LAYOUT */

@media screen and (max-width: 450px) {
  /*HIDDEN*/
  #web-first-main {
    display: none;
  }
  /*HIDDEN*/

  .big-container-mobile {
    padding-top: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .product-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  #info-heading {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
  }

  .pics-container-mobile {
    padding-top: 15px;
  }

  .product-pics-mobile {
    width: 100%;
  }

  #price-mobile {
    color: #000;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
  }

  #size-button-mobile {
    width: 11.188rem;
    height: 2.5rem;
    background-color: #000;
    border: #000 solid 1px;
    color: white;
    font-family: Nexa;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
}
