* {
  font-family: "Nexa", sans-serif;
  margin: 0;
  padding: 0;
}

/* HOME PAGE */

/*Navigation bar 1*/


@media screen and (min-width: 1001px) {

  /*hidden*/

  #mobile-dropdown {
    display: none;
  }
.mobile-gender {
  display: none;
}

  li,
a,
button {
  text-decoration: none;
}

ul {
  list-style: none;
}

a.active {
  border-bottom: 1px solid #000000;
  padding: 30px 5% 10px 5%;
  color: black;
}

.nav-gender a:hover {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5% 10px 5%;
  border-bottom: 1px solid #a8a39d;
}



.nav-gender {
  list-style: none;
}

.nav-gender li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-gender li a {
  transition: all 0.3s ease 0s;
  color: #a8a39d;
}

.nav-icons {
  list-style: none;
  color: black;
}

.nav-icons:hover .fa-regular.fa-user {
  color: #000000;
}

.nav-icons a {
  list-style: none;
  color: black;
}

.nav-icons li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-icons li a {
  transition: all 0.3s ease 0s;
}

/*Navigation bar 2*/

.nav-category {
  list-style: none;
  padding: 20px 5% 15px 5%;
}

.nav-category li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-category li a {
  transition: all 0.3s ease 0s;
  color: #a8a39d;
}

.searchbar {
  float: right;
  width: 30%;
  padding: 5px;
}

/* SLIDESHOW*/

#slideshow {
  width: 100%;
  height: 50rem;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  margin: 1.5rem 0 1.5rem 0;
}

/*HEAD*/
.logo {
  width: 15%;
}

#sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 90rem;
  margin: auto;
}

#new-men {
  display: flex;
  gap: 1.5rem;
  height: 28.125rem;
}

#sas {
  display: flex;
  width: 90rem;
  gap: 1.5rem;
  justify-content: space-between;
}

#new {
  position: relative;
  width: 100%;
  height: 28.125rem;
}

#new #shop-new {
  position: absolute;
  top: 16.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 48px 15px 48px;
  font-size: 0.875rem;
  font-weight: 900;
}

#new .new-men-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  top: 12.125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
#men {
  position: relative;
  width: 100%;
  height: 28.125rem;
}
#men #shop-men {
  position: absolute;
  top: 16.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 48px 15px 48px;
  font-size: 0.875rem;
  font-weight: 900;
}
#men .new-men-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  top: 12.125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
#sale-accessories-shoes {
  width: 100%;
  height: 18.4rem;
  position: relative;
  gap: 1.5rem;
}

#sale {
  position: relative;
}

#sale .sas-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  top: 10.125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

#accessories {
  position: relative;
}

#accessories .sas-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  top: 10.125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);}

#shoes {
  position: relative;
}

#shoes .sas-text {
  position: absolute;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  top: 10.125rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);}

/*FOOTER*/
footer {
  background-color: white;
  margin-top: 3%;
}

footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
}

.row {
  padding: 2em 2em;
}

.row.primary {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  margin-left: 5%;
}

.first-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#footer-header {
  color: black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1em;
}

.first-column ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0%;
}

.second-column ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0%;
}

.first-column ul li a {
  color: #a8a39d;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.second-column ul li a {
  color: #a8a39d;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.subscribe-column {
  margin-left: 5rem;
}
.subscribe-column input {
  background-color: #d9d9d9;
  width: 605px;
  height: 55px;
  color: #a8a39d;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 1rem;
}

.subscribe-column input[type="text"] {
  text-indent: 15px;
}
.logo-footer {
  margin-top: 2rem;
  width: 20%;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin-top: 1.1rem;
}

.social i {
  font-size: 2em;
  color: black;
}

.secondary-row {
  display: flex;
  flex-direction: row;
  padding: 2em;
  color: #000;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  justify-content: space-between;
  margin-left: 5%;
}

.secondary-row a {
  color: #000;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  margin-right: 3rem;
}
}



/* CATEGORY PAGE */

/* PRODUCT PAGE */

/* CART PAGE */

/* PAYMENT PAGE */

/* CONFIRMATION PAGE*/

/* RESPONSIVENESS */

/* TABLET DEVICES */

@media screen and (min-width: 451px) and (max-width: 1000px) {

}

/* MOBILE DEVICES */
@media screen and (max-width: 450px) {

 /* header */ 
  header {
      display: flex;
      justify-content: space-between;
      margin-right: 5%;
      align-items: center;
      padding: 10px 0px;
      margin: 0px;
      border-bottom: 0px solid #a8a39d;
    }

    /* Drop down icon */
    #mobile-dropdown{
      list-style: none;
      
    }
    
  #mobile-dropdown a {
    color: black;
    font-size: 1.5rem;
  }
  /* nav-gender */
  
  /* mobile-gender */

  .mobile-gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 33% 10px 33%;
  }

  .mobile-gender a {
    list-style: none;
    color: black;
  }

  .mobile-gender li {
    display: inline-block;
    align-items: center;
  }

  /* nav-icons */

  
  .nav-icons a {
    list-style: none;
    color: black;
  }
  
  .nav-icons li {
    display: inline-block;
    padding: 0px 5px;
  }
  
  .nav-icons li a {
    transition: all 0.3s ease 0s;
  }

  /* nav-logo */
    .logo {
    width: 30%;
  }

  /* Hidden */

  .nav-category {
    display: none;
  }

  .nav-gender {
    display:none
  }

  /* text */
  
  li, a, button {
  text-decoration: none;
}

}