* {
  font-family: "Nexa", sans-serif;
  margin: 0;
}

/* HOME PAGE */

/*Navigation bar 1*/

li,
a,
button {
  text-decoration: none;
}

ul {
  list-style: none;
}

a.active {
  border-bottom: 1px solid #000000;
  padding: 30px 5% 10px 5%;
  color: black;
}

.nav-gender a:hover {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5% 10px 5%;
  border-bottom: 1px solid #a8a39d;
}

.nav-gender {
  list-style: none;
}

.nav-gender li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-gender li a {
  transition: all 0.3s ease 0s;
  color: #a8a39d;
}

.nav-icons {
  list-style: none;
  color: black;
}

.nav-icons:hover .fa-regular.fa-user {
  color: #000000;
}

.nav-icons a {
  list-style: none;
  color: black;
}

.nav-icons li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-icons li a {
  transition: all 0.3s ease 0s;
}

/*Navigation bar 2*/

.nav-category {
  list-style: none;
  padding: 20px 5% 15px 5%;
}

.nav-category li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-category li a {
  transition: all 0.3s ease 0s;
  color: #a8a39d;
}

.searchbar {
  float: right;
  width: 30%;
  margin-right: -1%;
  padding: 5px;
}

/* SLIDESHOW*/

#slideshow {
  width: 100%;
  height: 35em;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  margin: 1.5rem 0 1.5rem 0;
}

/*HEAD*/
.logo {
  width: 15%;
}

#sections {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 90rem;
  margin: auto;
}

#new-men {
  display: flex;
  gap: 1.5rem;
  height: 28.125rem;
}

#sas {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

#new {
  position: relative;
  width: 100%;
  height: 28.125rem;
}

#new #shop-new {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

#men {
  position: relative;
  width: 100%;
  height: 28.125rem;
}

#men #shop-men {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

#sale-accessories-shoes {
  width: 100%;
  height: 18.4rem;
  position: relative;
  gap: 1.5rem;
}

#sale {
  position: relative;
}

/*FOOTER*/
footer {
  background-color: whitesmoke;
}

footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
}

.row {
  padding: 2em 2em;
}

.row.primary {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  margin-left: 5%;
}

.first-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#footer-header {
  color: black;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1em;
}

.first-column ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0%;
}

.second-column ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0%;
}

.first-column ul li a {
  color: #a8a39d;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.second-column ul li a {
  color: #a8a39d;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.subscribe-column {
  margin-left: 5rem;
}
.subscribe-column input {
  background-color: #d9d9d9;
  width: 605px;
  height: 55px;
  color: #a8a39d;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 1rem;
}

.subscribe-column input[type="text"] {
  text-indent: 15px;
}
.logo-footer {
  margin-top: 2rem;
  width: 20%;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin-top: 1.1rem;
}

.social i {
  font-size: 2em;
  color: black;
}

.secondary-row {
  display: flex;
  flex-direction: row;
  padding: 2em;
  color: #000;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  justify-content: space-between;
  margin-left: 5%;
}

.secondary-row a {
  color: #000;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  margin-right: 3rem;
}

/* CATEGORY PAGE */

/* PRODUCT PAGE */

/* CART PAGE */

/* PAYMENT PAGE */

/* CONFIRMATION PAGE*/
